.App {
  text-align: center;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.moleHill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
} 

.MoleContainer {
  display: inline-block;
} 

img {
  width:30vw;
  height:25vh;
}